* {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.hero {
  font-style: italic;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 60px;
  margin: 10px;
}

.table {
  table-layout: fixed;
  border: solid black;
  border-collapse: collapse;
  border-width: 0.2em;
  float: left;
  display: inline-block;

}

.section-header {
  width: 20%;
}

.how-to-header {
  width: 20%;
}

tr {
  line-height: 20px;
}

th,
td {
  padding: 5px;
  border: solid black 0.1em;
}

thead {
  border-bottom: solid black 0.2em;
}

.dice-tray {
  border: solid black 3px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.dice {
  margin: 5px; 
  padding: 5px; 
}

.hold {
  opacity: 0.3;
}

.roll-all {
  text-align: center;
}

.button {
  background: white;
  border: solid black 0.2em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  font-weight: bold;
}

.button:hover {
  background: black;
  color: white;
  transition: 0.1s;
}
