* {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.hero {
  font-style: italic;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}

.table {
  table-layout: fixed;
  width: 550px;
  border: solid black;
  border-collapse: collapse;
  border-width: 4px;

}

.section-header {
  width: 20%;
}

.how-to-header {
  width: 17%;
}

th,
td {
  padding: 5px;
  border: solid black 1px;
}

thead {
  border-bottom: solid black 2px;
}

.hi {
  colspan: 3;
}

.grand {
  border-top: solid black 2px;
}

.lower-row {
  border: solid black 2px;
}

.lower-cell {
  border: none;
}

.bonus {
}
