<div class="dice-tray">
  <div class="center">
    <button (click)="rollAll()" class="roll-all button">Roll All</button>
  </div>
  <die
    (holdToggled)="toggleDie($event)"
    [value]="values[0]"
    [position]="1"
    [paused]="paused"
  ></die>
  <die
    (holdToggled)="toggleDie($event)"
    [value]="values[1]"
    [position]="2"
    [paused]="paused"
  ></die>
  <die
    (holdToggled)="toggleDie($event)"
    [value]="values[2]"
    [position]="3"
    [paused]="paused"
  ></die>
  <die
    (holdToggled)="toggleDie($event)"
    [value]="values[3]"
    [position]="4"
    [paused]="paused"
  ></die>
  <die
    (holdToggled)="toggleDie($event)"
    [value]="values[4]"
    [position]="5"
    [paused]="paused"
  ></die>
</div>
