* {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

.title {
  font-style: italic;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 60px;
  margin: 10px;
}

.table {
  table-layout: fixed;
  border: solid black 0.3em;
  border-bottom: solid black 0.2em;
  border-collapse: collapse;
  float: left;
  display: inline-block;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.section-header,
.how-to-header {
  width: 20%;
}

tr {
  line-height: 20px;
}

th,
td {
  text-align: center;
  padding: 5px;
  border: solid black 0.1em;
}

thead {
  border-bottom: solid black 0.2em;
}

.grand {
  border-bottom: none;
}

.grand-label,
.grand-value {
  border-top: solid black 0.2em;
}

.grand-value {
  border-left: solid black 0.2em;
  border-right: solid black 0.2em;
}
