<div>
  <p class="title">Yahtzee!</p>
</div>
<table class="table">
  <thead>
    <th class="section-header">Upper Section</th>
    <th class="how-to-header">How to Score</th>
    <th>Score</th>
    <th class="section-header">Lower Section</th>
    <th class="how-to-header">How to Score</th>
    <th>Score</th>
  </thead>
  <tbody>
    <tr>
      <th>Aces</th>
      <th>Count and add only aces</th>
      <td class="written"><score></score></td>
      <th>Three of a kind</th>
      <th>Add total of all dice</th>
      <td class="written"><score></score></td>
    </tr>
    <tr>
      <th>Twos</th>
      <th>Count and add only twos</th>
      <td class="written"><score></score></td>
      <th>Four of a kind</th>
      <th>Add total of all dice</th>
      <td class="written"><score></score></td>
    </tr>
    <tr>
      <th>Threes</th>
      <th>Count and add only threes</th>
      <td class="written"><score></score></td>
      <th>Full House</th>
      <th>Score 25</th>
      <td class="written"><score></score></td>
    </tr>
    <tr>
      <th>Fours</th>
      <th>Count and add only fours</th>
      <td class="written"><score></score></td>
      <th>Sm Straight Sequence of 4</th>
      <th>Score 30</th>
      <td class="written"><score></score></td>
    </tr>
    <tr>
      <th>Fives</th>
      <th>Count and add only fives</th>
      <td class="written"><score></score></td>
      <th>Lg Straight Sequence of 5</th>
      <th>Score 40</th>
      <td class="written"><score></score></td>
    </tr>
    <tr>
      <th>Sixes</th>
      <th>Count and add only sixes</th>
      <td class="written"><score></score></td>
      <th>Yahtzee 5 of a kind</th>
      <th>Score 50</th>
      <td class="written"><score></score></td>
    </tr>
    <tr>
      <th colspan="2">Total Score</th>
      <td class="written"><score></score></td>
      <th>Chance</th>
      <th>Score total of all 5 dice</th>
      <td class="written"><score></score></td>
    </tr>
    <tr>
      <th>Bonus <br />(if total score over 63)</th>
      <th>Score 35</th>
      <td class="written"><score></score></td>
      <th>Yahtzee</th>
      <th>x for each bonus</th>
      <td class="bonus"><score></score></td>
    </tr>
    <tr>
      <th colspan="2">Total Score of upper section</th>
      <td class="written"><score></score></td>
      <th>Bonus</th>
      <th>100 per x</th>
      <td class="written"><score></score></td>
    </tr>
    <tr class="grand">
      <th class="grand-label" colspan="2">Grand total</th>
      <td class="grand-value"><score></score></td>
      <th colspan="2">Total of lower section</th>
      <td class="written"><score></score></td>
    </tr>
  </tbody>
</table>
<dice-tray></dice-tray>
